<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Rajneesh's Tech Blog</a></h1>
        </div>

        <div>
            <p>published: 05.09.2018, 19:56</p>
            <h2><a href="">My first post</a></h2>
            <p>It is better to remain silent at the risk of being thought a fool, than to talk and remove all doubt of it.</p>
        </div>

        <div>
            <p>published: 05.09.2018, 20:00</p>
            <h2><a href="">My second post</a></h2>
            <p>The saddest aspect of life right now is that science gathers knowledge faster than society gathers wisdom.” .</p>
        </div>
    </body>
</html>